.title {
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #0000ff;
    padding: 10px 30px 10px 30px;
}

.image {
    border-radius: 5px;
    height: 300px;
    width:200px;
    padding: 20px;
    margin: 0 auto;
}

.genre-image {
    border-radius: 50%;
    position: relative;
    top: 35px;
    height: 225px;
    width: 225px;
    padding: 10px;
    margin: 0 auto;
}

.genre-text {
    text-overflow: ellipsis;
    overflow: clip;
    white-space: nowrap;
    color: #595959;
    position: relative;
    top: 30px;
    font-size:12px;
    text-align: center;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.carousel__inner-slide {
    position: relative;
    margin-left: 30px;
    width: 250px;
    height: 410px;
    font-size: 12px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 8px #ece9e9;
    }

.carousel__inner-slide:hover {
    background-color: #ece9e9;
}

.carousel-text {
    text-overflow: ellipsis;
    overflow: clip;
    white-space: nowrap;
    color: #595959;
    text-align: center;
    margin: 0 auto;
    width: 200px;
    font-family: 'Poppins', sans-serif;
}

h4 {
    position: relative;
    left: 50px;
    margin-right: 50px;
    color: #595959;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.carousel-author {
    text-overflow: ellipsis;
    overflow: clip;
    white-space: nowrap;
    color: #595959e8;
    text-align: center;
    margin: 0 auto;
    font-size: 14px;
    padding: 5px;
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 600px) {
    .title {
        font-size: 10px;
        padding: 0px;
    }
    h4 {
        font-size: 11px;
    }
    .image {
        height: 115px;
        width: 80px;
        padding: 10px;
    }
    .genre-image {
        height: 95px;
        width: 95px;
        padding: 0px;
        top: 20px;
    }

    .carousel__inner-slide {
        width: 100px;
        height: 178px;
        margin: 0 auto;
        left: 10px;
        text-overflow: ellipsis;
        overflow: clip;
        white-space: nowrap;
    }

    .carousel-text {
        font-size: 7.5px;
        padding: 2px;
        width: 80px;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-overflow: ellipsis;
    }

    .carousel-author, .genre-text {
        font-size: 6px;
        padding: 2px;
        top: 15px;
    }
}